<div class="hero-container">
    <div class="h1-container">
        <div class="inside-h1-container">
            <h1 class="hero-h1">Anthony Catullo Portfolio</h1>
            <h3 class="hero-h3">Where your dreams come true!</h3>
        </div>
    </div>
    <div class="hero-img-container">
        <div class="inside-img-container">
            <img class="hero-image" src="/designer.svg">
        </div>
    </div>
</div>