<div class="hero-container">
    <div class="h1-container">
        <div class="inside-h1-container">
            <h1 class="hero-h1">About Me</h1>
            <h3 class="hero-h3">Former salesman, now a full stack developer!</h3>
        </div>
    </div>
    <div class="hero-img-container">
        <div class="inside-img-container">
            <img class="hero-image" src="/designer.svg">
        </div>
    </div>
</div>

<div class="hero-container">
    <div class="hero-img-container">
        <div class="inside-img-container">
            <img class="hero-image" src="/designer.svg">
        </div>
    </div>
    <div class="h1-container">
        <div class="inside-h1-container">
            <h3 class="hero-h3">My journey began with ...</h3>
            <h3 class="hero-h3">Lots of self-study</h3>
        </div>
    </div>
</div>






