* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: black;
}

.navbar {
    border-bottom: 1px solid black;
}

.hero-container {
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    width: 1024px;
}

.h1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 500px;
}

.hero-h1 {
    font-size: 65px;
}

.hero-image {
    width: 100%;
}

.carousel {
    margin: 25px auto;
    width: 560px;
    height: 315px;
}


/* about page */

@media only screen and (max-width: 768px) {
    .about-headline-container, 
    .about-second-section, 
    .about-third-section, 
    .about-fourth-section,
    .about-fifth-section {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-second-section, 
    .about-third-section, 
    .about-fourth-section, 
    .about-fifth-section {
        border-top: 1px solid black;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-headline, 
    .about-second-section-text, 
    .about-third-section-text, 
    .about-fourth-section-text, 
    .about-fifth-section-text {
        text-align: center;
    }

}

@media only screen and (min-width: 769px) {
    .about-headline-container, 
    .about-second-section, 
    .about-third-section, 
    .about-fourth-section,
    .about-fifth-section {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-second-section, 
    .about-third-section, 
    .about-fourth-section, 
    .about-fifth-section {
        border-top: 1px solid black;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-headline, 
    .about-second-section-text, 
    .about-third-section-text, 
    .about-fourth-section-text, 
    .about-fifth-section-text {
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    .about-headline {
        background-color: yellow;
    }
}

@media only screen and (min-width: 1440px) {
    .about-headline {
        background-color: red;
    }
}