* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: black;
}

.navbar {
    border-bottom: 1px solid black;
}

.hero-container {
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    width: 1024px;
}

.h1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 500px;
}

.hero-h1 {
    font-size: 65px;
}

.hero-image {
    width: 100%;
}






.home-about {
    height: 500px;
    background: rgb(97, 82, 228);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}





.carousel {
    margin: 25px auto;
    width: 560px;
    height: 315px;
}

