.carousel {
    margin: 25px auto;
    width: 560px;
    height: 315px;
}


@media only screen and (max-width: 768px) {
    .hero-container {
        display: flex;
        justify-content: center;
        z-index: 0;
        position: relative;
        height: 500px;
    }

    .website-title {
        text-align: center;
        color: white;
        z-index: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 50%;
    }


    .home-about {
        background: rgb(112, 28, 248);
        color: white;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-about-header, 
    .home-about-description {
        text-align: center;
        font-size: 36px;
    }

    .slide {
        height: 300px;
        width: 300px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 769px) {
    .hero-container {
        display: flex;
        justify-content: center;
        z-index: 0;
        position: relative;
        height: 500px;
    }

    .website-title {
        text-align: center;
        color: white;
        z-index: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 50%;
    }


    .home-about {
        background: rgb(112, 28, 248);
        color: white;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-about-header, 
    .home-about-description {
        text-align: center;
        font-size: 36px;
    }

    .slide {
        height: 300px;
        width: 300px;
        margin-bottom: 100px;
    }
}


@media only screen and (min-width: 1024px) {
    .hero-container {
        display: flex;
        justify-content: center;
        z-index: 0;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .website-title {
        text-align: center;
        color: white;
        z-index: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 50%;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-container {
        width: 100%;
        height: 100vh;
        z-index: 0;
    }

    video {
        position: fixed;
        left: 0;
        top: 0;
        min-width: 100%;
        height: 100vh;
        z-index: 0;
    }

    .website-title {
        text-align: center;
        color: white;
        z-index: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 50%;
    }
}